# --extra-index-url https://download.pytorch.org/whl/cpu
# torch==1.12.0+cpu
# torchvision==0.13.0+cpu
# torchaudio==0.12.0+cpu

torch-geometric==2.2.0
torch-scatter==2.1.0 -f https://data.pyg.org/whl/torch-1.12.0+cpu.html
torch-sparse==0.6.16 -f https://data.pyg.org/whl/torch-1.12.0+cpu.html
matplotlib
ogb
wandb
networkx
torchmetrics
types-PyYAML
seaborn==0.13.2

# For MoleculeNet
rdkit==2024.3.1